In [12]:
import sqlite3 as  sql
def create_table():
    conn = sql.connect(r"C:\Users\mattm\OneDrive\Documents\P512\library.db")
    cur  = conn.cursor()
    cur.execute("""CREATE TABLE Books (
        book_id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        year INTEGER,
        genre TEXT  )""")
    
    conn.commit()
    conn.close()

create_table()

OperationalError: table Books already exists

In [11]:
import sqlite3 as  sql
def create_2tables():
    con = sql.connect("student.db")
    cur = con.cursor()
    cur.execute("""CREATE TABLE student_details(
        student_id REAL PRIMARY KEY ,
        first_name TEXT NOT NULL,
        last_name TEXT NOT NULL,
        email  TEXT NOT NULL UNIQUE
        )""")
    
    cur.execute("""CREATE TABLE enrollment(
        enrollment_id INTEGER PRIMARY KEY AUTOINCREMENT,
        student_id REAL,
        course_name TEXT NOT NULL,
        enrollment_date DATE NOT NULL,
        FOREIGN KEY (student_id) REFERENCES student_details(student_id)
        )""")
    
    con.commit()
    con.close()
create_2tables()

In [2]:
import pandas as pd
import sqlite3 as sql

# data for student_details 
student_data = {
    "Student_id": [1.01, 2.01, 3.02, 4.03, 5.04],
    "first_name":  ["John", "Mary", "David", "Emma", "Oliver"],
    "last_name": ["Doe", "Smith", "Johnson", "Williams", "Brown"],
    "email":['John.doe@gmail.com','mary.smith@gmail.com','david.johnson','emma_williams@gmail.com','oli_brown@gmail.com']

}

enrollment_data =  {
    "Student_id": [1.01, 2.01, 3.02,4.03,5.04],
    "course_name":['math','IT','science','gd','bio'],
    'enrollment_date':['2024-01-01','2024-02-01','2024-03-01','2024-03-01','2024-02-01']
}

# create a DataFrame from the dictionary
student_df = pd.DataFrame(student_data)
enrollment_df = pd.DataFrame(enrollment_data)

# create a connection to the database
conn = sql.connect('student.db')

# insert the data frames into the tables
student_df.to_sql('student_details', conn, if_exists='replace', index=False)
enrollment_df.to_sql('enrollment', conn, if_exists='append', index=False)

# Close the connection
conn.close()

In [5]:
import sqlite3 as sql

# Connect to the database
conn = sql.connect("student.db")
cur = conn.cursor()

# Function to fetch and print data from a specified table
def fetch_and_print_table_data(table_name):
    cur.execute(f"SELECT * FROM {table_name};")
    rows = cur.fetchall()
    print(f"Data from {table_name}:")
    for row in rows:
        print(row)
    print()  # Print a newline for better readability

# Fetch and print data from all tables
tables = ["student_details", "enrollment"]
for table in tables:
    fetch_and_print_table_data(table)

# Close the connection
conn.close()

Data from student_details:
(1.01, 'John', 'Doe', 'John.doe@gmail.com')
(2.01, 'Mary', 'Smith', 'mary.smith@gmail.com')
(3.02, 'David', 'Johnson', 'david.johnson')
(4.03, 'Emma', 'Williams', 'emma_williams@gmail.com')
(5.04, 'Oliver', 'Brown', 'oli_brown@gmail.com')

Data from enrollment:
(1, 1.01, 'math', '2024-01-01')
(2, 2.01, 'IT', '2024-02-01')
(3, 3.02, 'science', '2024-03-01')
(4, 4.03, 'gd', '2024-03-01')
(5, 5.04, 'bio', '2024-02-01')

In [2]:
import sqlite3 as sql

con = sql.connect("student.db")
cur = con.cursor()

cur.execute("Drop TABLE IF EXISTS enrollment")

con.close()

In [12]:
import sqlite3 as sql

conn = sql.connect("student.db")
cur = conn.cursor()
cur.execute('''INSERT INTO student_details (student_id,first_name ,last_name,email)
            VALUES (6.05,"Matthew","Magadza","matt_magadza@gmail.com");''')
conn.commit()

conn.close()

In [18]:
import sqlite3 as sql 
conn = sql.connect("student.db")
cur = conn.cursor()

cur.execute('SELECT * FROM student_details')
results = cur.fetchall()

for row in results:
    print(f"{row[0]:10} {row[1]:10} {row[2]:10} {row[3]:10}")

conn.close()

      1.01 John       Doe        John.doe@gmail.com
      2.01 Mary       Smith      mary.smith@gmail.com
      3.02 David      Johnson    david.johnson
      4.03 Emma       Williams   emma_williams@gmail.com
      5.04 Oliver     Brown      oli.brown@gmail.com
      6.05 Matthew    Magadza    matt_magadza@gmail.com
      7.06 Mike       Jackson    mike.jackson@gmail.com

In [12]:
import sqlite3 as sql

# Connect to the database
conn = sql.connect("student.db")
cur = conn.cursor()

# Update the email for a specific student
cur.execute("""
    UPDATE student_details
    SET email = 'oli.brown@gmail.com'
    WHERE first_name = 'Oliver';
""")

# Commit the changes
conn.commit()


# Close the connection
conn.close()

In [15]:
import sqlite3 as sql

# Connect to the database
conn = sql.connect("student.db")
cur = conn.cursor()

# Loop to insert data
i = "yes"
while i == "yes":
    # Get input from the user for each field
    student_id = input("Enter Student ID: ")
    first_name = input("Enter First Name: ")
    last_name = input("Enter Last Name: ")
    email = input("Enter Email: ")

    # Execute the insert statement with the provided values
    cur.execute('''INSERT INTO student_details (student_id, first_name, last_name, email)
                VALUES (?, ?, ?, ?);''', (student_id, first_name, last_name, email))

    # Commit the transaction
    conn.commit()

    # Ask if the user wants to insert another record
    i = input("Do you want to insert another record? (yes/no): ").lower()

# Close the connection
conn.close()

In [17]:
import sqlite3 as sql

# Connect to the database
conn = sql.connect("student.db")
cur = conn.cursor()

# Update the email for a specific student
cur.execute("""
    DELETE FROM student_details
    WHERE first_name = '';
""")

# Commit the changes
conn.commit()


# Close the connection
conn.close()